<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

    <th:block th:fragment="bean-node(bean)">

        <g class="bean-dependency-node">

            <rect th:x="0" th:y="0"
                  width="150" height="50"></rect>

            <!--/*@thymesVar id="beanName" type="java.lang.String"*/-->
<!--            <text x="100" y="100" font-size="10"-->
<!--                  class="bean-dependency-node-title"-->
<!--                  th:text="${bean.beanName}"-->
<!--                  th:alt="${bean.beanName}"></text>-->
        </g>
    </th:block>

</html>
