<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

    <th:block th:fragment="bean-node(bean)">

        <g class="bean-dependency-node"
           th:id="${bean.beanName}">

            <g th:each="link : ${bean.linkedWith}">
                <line class="bean-dependency-link-with"
                      th:value="${link}"
                      stroke="black"></line>
            </g>

            <rect class="bean-dependency-node.body"
                  x="0" y="0"></rect>

            <!--/*@thymesVar id="beanName" type="java.lang.String"*/-->
<!--            <text x="100" y="100" font-size="10"-->
<!--                  class="bean-dependency-node-title"-->
<!--                  th:text="${bean.beanName}"-->
<!--                  th:alt="${bean.beanName}"></text>-->
        </g>
    </th:block>

</html>
