<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>...</title>

    <link rel="stylesheet" th:href="@{/assets/css/BeanDependencyNode.css}" />

    <script type="text/javascript" th:src="@{/src/dependency/BeanDependencyNode.js}"></script>
    <script type="text/javascript" th:src="@{/src/api/BeanExecutionEventApi.js}"></script>
    <script type="text/javascript" th:src="@{/src/util/SvgPointOnPath.js}"></script>
</head>
<body>

    <svg id="bean-dependency-table"
         class="bean-dependency-table"
         width="5000px" height="10000px"
         xmlns="http://www.w3.org/2000/svg"
         overflow="scroll">

        <!--/*@thymesVar id="beansWithLayer" type="kotlin.collections.Collection"*/-->
        <g class="bean-dependency-layer"
             th:each="beansInLayer : ${beansWithLayer}">

            <!--/*@thymesVar id="data" type="kotlin.collections.Collection"*/-->
            <th:block th:each="bean : ${beansInLayer}"
                      th:include="fragments/BeanDependencyNode :: bean-node(bean)"/>
        </g>
    </svg>

    <script>
	    BeanDependencyNode.setNodeMargin(100, 10)
	    BeanDependencyNode.setLinkLineGap(10)
	    BeanDependencyNode.initLayers()

        const beanDependencyTable = document.getElementById("bean-dependency-table")
        const executionEvent = new BeanExecutionEventApi(event => {
	        let node = BeanDependencyNode.nodes.get(event.from?.className)
	        if(!node)
	            return

	        const line = node.linkDoms.get(event.bean.className)
	        if(!line)
	            return

            const pointOnPath = new SvgPointOnPath(beanDependencyTable, line, true, true)
            pointOnPath.point.setAttributeNS(null,"r",5);
            pointOnPath.point.setAttributeNS(null,"fill","black");
            pointOnPath.point.setAttributeNS(null,"stroke","none");

            pointOnPath.run()
	    })
    </script>

</body>
</html>
