<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>...</title>

    <link rel="stylesheet" th:href="@{/assets/css/BeanDependencyNode.css}" />

    <script type="text/javascript" th:src="@{/src/dependency/BeanDependencyNode.js}"></script>
</head>
<body>
    <svg class="bean-dependency-table"
         width="5000px" height="10000px"
         xmlns="http://www.w3.org/2000/svg"
         overflow="scroll">

        <!--/*@thymesVar id="beansWithLayer" type="kotlin.collections.Collection"*/-->
        <g class="bean-dependency-layer"
             th:each="beansInLayer : ${beansWithLayer}">

            <!--/*@thymesVar id="data" type="kotlin.collections.Collection"*/-->
            <th:block th:each="bean : ${beansInLayer}"
                      th:include="fragments/BeanDependencyNode :: bean-node(bean)"/>
        </g>
    </svg>

    <script>

        const nodeWidthGap = 100
        const nodeHeightGap = 10

        getLayer()
            .map(getNodeFromLayer)
            .forEach((layerList, layerNum) => createNodeInLayer(layerList, layerNum));

        ([...BeanDependencyNode.nodes.keys()])
            .forEach(key=> BeanDependencyNode.nodes.get(key).updateLines())

        function createNodeInLayer(layerList, layerNum) {
            layerList.forEach((it, idx) => createNode(it, layerNum, idx))
        }
        function createNode(dom, layer, idx) {
            const x = (nodeWidthGap + BeanDependencyNode.DEFAULT_WIDTH) * layer
            const y = (nodeHeightGap + BeanDependencyNode.DEFAULT_HEIGHT) * idx
            new BeanDependencyNode(dom, x, y)
        }

        function getLayer() {
            return [...document.getElementsByClassName("bean-dependency-layer")]
        }
        function getNodeFromLayer(layer) {
            return [...layer.getElementsByClassName("bean-dependency-node")]
        }
    </script>
</body>
</html>
